<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="./angular.min.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>
    <div ng-app="root">
      <div class="mt-4 ml-5 mr-5">
        <div class="float-left">
          <div  ng-controller="employeeAddCtrl">
            <form ng-submit="submit()">
              <label>First Name:</label>
              <div>
                <input type="text" class="form-control" ng-model="first_name">
              </div>
              <label>Last Name:</label>
              <div>
                <input type="text" class="form-control" ng-model="last_name">
              </div>
              <label>Age:</label>
              <div>
                <input type="number" class="form-control" ng-model="age">
              </div>
              <label>Email:</label>
              <div>
                <input type="text" class="form-control" ng-model="email">
              </div>
              <label>Address:</label>
              <div>
                <input type="text" class="form-control" ng-model="address">
              </div>
              <input class="mt-2 btn btn-primary" type="submit"/>
            </form>
          </div>
        </div>

        <div class="mt-4  float-right mb-4">
          <div ng-controller="employeeListCtrl">
            <table class="table table-bordered table-striped">
              <tr>
                <td>Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Age</td>
                <td>Email</td>
              </tr>
              <tr ng-repeat="empolyee in employeeList">
                  <td>
                      {{ empolyee.id }}
                  </td>
                <td>
                    {{ empolyee.first_name }}
                </td>
                <td>
                    {{ empolyee.last_name }}
                </td>
                <td>
                    {{ empolyee.age }}
                </td>
                <td>
                    {{ empolyee.email }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>