<!DOCTYPE html>
<html>
  <head>
    <script src="./angular.min.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>
    <div ng-app="root">
      <p>Input something in the input box:</p>
      <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
      <h1>Hello {{name}}</h1>
      <div  ng-controller="employeeAddCtrl">
        <form ng-submit="submit()">
          <label>First Name:</label>
          <div>
            <input type="text" ng-model="first_name">
          </div>
          <label>Last Name:</label>
          <div>
            <input type="text" ng-model="last_name">
          </div>
          <label>Age:</label>
          <div>
            <input type="number" ng-model="age">
          </div>
          <label>Email:</label>
          <div>
            <input type="text" ng-model="email">
          </div>
          <label>Address:</label>
          <div>
            <input type="text" ng-model="address">
          </div>

          <input type="submit"/>
        </form>
      </div>

      <div ng-controller="employeeListCtrl">
        <table border="1">
          <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>Email</td>
          </tr>
          <tr ng-repeat="empolyee in employeeList">
              <td>
                  {{ empolyee.id }}
              </td>
            <td>
                {{ empolyee.first_name }}
            </td>
            <td>
                {{ empolyee.last_name }}
            </td>
            <td>
                {{ empolyee.age }}
            </td>
            <td>
                {{ empolyee.email }}
            </td>
        </tr>
        </table>

      </div>
    </div>
  </body>
</html>