<div class="mr-5 ml-5 filter-page" ng-controller="filterCTRL">
  <div>
    <i class="fa fa-search search-icon" aria-hidden="true"></i>
    <input class="form-control mt-2 mb-2 search-box" ng-model="search" type="text"/>
  </div>
  <table ng-Show="employeeList.length" class="mt-4 table table-bordered table-striped">
    <tr>
      <td>Id</td>
      <td>First Name</td>
      <td>Last Name</td>
      <td>Age</td>
      <td>Email</td>
    </tr>
    <tr ng-repeat="empolyee in employeeList | filter:search">
      <td>
        {{ empolyee.id }}
      </td>
      <td>
        {{ empolyee.first_name }}
      </td>
      <td>
        {{ empolyee.last_name }}
      </td>
      <td>
        {{ empolyee.age }}
      </td>
      <td>
        {{ empolyee.email }}
      </td>
    </tr>
  </table>
  <h1 ng-Show="!employeeList.length" class="text-center mt-5">No data found</h1>
</div>