<div>
  <div class="mt-4 ml-5 mr-5">
    <div class="mt-4 float-left home-component">
      <div  ng-controller="employeeAddCtrl">
        <div>
          <div class="card">
            <div class="card-header">{{modeText}} Employee</div>
            <div class="card-body"><employee-form></employee-form></div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4 float-right mb-4">
      <div ng-controller="employeeListCtrl">
        <table class="table table-bordered table-striped">
          <tr>
            <td>Id</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Age</td>
            <td>Email</td>
            <td>Edit</td>
            <td>Delete</td>
          </tr>
          <tr ng-repeat="empolyee in employeeList">
            <td>
              {{ empolyee.id }}
            </td>
            <td>
                {{ empolyee.first_name }}
            </td>
            <td>
                {{ empolyee.last_name }}
            </td>
            <td>
                {{ empolyee.age }}
            </td>
            <td>
                {{ empolyee.email }}
            </td>
            <td>
              <button class="btn btn-primary" ng-click="edit(empolyee.id)">Edit</button>
            </td>
            <td>
              <button ng-click="delete(empolyee.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>